doctype
html
	head
		title= title
	body
		h1 Hellowssss #{title}
		div#shit 
			p.hot this is now
			p can I have some #{shit} please, #{person}
			p(style='text-align: right', data-id: 'fucks') so suck a dick